/* Light theme */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 23px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.heading {
    margin: 0;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 40px;
}

.nav-item:last-child {
    margin-right: 0;
}
.navbar{
    margin-right: 90px;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

/* Dark theme */
[data-theme='dark'] .header {
    background-color: #222;
    color: #fff;
}

[data-theme='dark'] .logout-button {
    background-color: #dc3545;
    color: #fff;
}

[data-theme='dark'] .logout-button:hover {
    background-color: #c82333;
}
