.header {
    background-color: #333;
    color: #fff;
    padding: 10px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    margin: 0;
    font-size: 24px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}